h1 {
  text-align: left;
  font-family: 'Lemonada', cursive;
  margin: 1.66%
}

hr {
  margin-left: 1.66%;
  margin-right: 68.15%;
  border: 0.05px solid red;
}

img {
  width: 30%;
  float: left;
  margin: 1.66%
}